*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.pth
.pytype/
git_rewrite_commit_history.sh

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache
*.lprof
*.prof

MUJOCO_LOG.TXT
exp/
*.ipynb
test_scripts/*
*.pdf
figures
*.txt
figure/
data/
scripts/walker_walk/run_sac_unsuper.sh
scripts/walker_walk/run_sac.sh
scripts/walker_walk/run_ppo_unsuper.sh
scripts/walker_walk/run_ppo.sh
scripts/walker_walk/500/skip/run_PrefPPO.sh
scripts/walker_walk/500/skip/run_PEBBLE.sh
scripts/walker_walk/500/oracle/schedule/run_PEBBLE_2.sh
scripts/walker_walk/500/oracle/schedule/run_PEBBLE_1.sh
scripts/walker_walk/500/oracle/run_PrefPPO.sh
scripts/walker_walk/500/oracle/run_PEBBLE.sh
scripts/walker_walk/500/noisy/run_PrefPPO.sh
scripts/walker_walk/500/noisy/run_PEBBLE.sh
scripts/walker_walk/500/myopic/run_PrefPPO.sh
scripts/walker_walk/500/myopic/run_PEBBLE.sh
scripts/walker_walk/500/mistake/run_PrefPPO.sh
scripts/walker_walk/500/mistake/run_PEBBLE.sh
scripts/walker_walk/500/equal/run_PrefPPO.sh
scripts/walker_walk/500/equal/run_PEBBLE.sh
scripts/walker_walk/1000/skip/run_PrefPPO.sh
scripts/walker_walk/1000/skip/run_PEBBLE.sh
scripts/walker_walk/1000/oracle/run_PrefPPO.sh
scripts/walker_walk/1000/oracle/run_PEBBLE.sh
scripts/walker_walk/1000/noisy/run_PrefPPO.sh
scripts/walker_walk/1000/noisy/run_PEBBLE.sh
scripts/walker_walk/1000/myopic/run_PrefPPO.sh
scripts/walker_walk/1000/myopic/run_PEBBLE.sh
scripts/walker_walk/1000/mistake/run_PrefPPO.sh
scripts/walker_walk/1000/mistake/run_PEBBLE.sh
scripts/walker_walk/1000/equal/run_PrefPPO.sh
scripts/walker_walk/1000/equal/run_PEBBLE.sh
scripts/sweep_into/run_sac_unsuper.sh
scripts/sweep_into/run_sac.sh
scripts/sweep_into/run_ppo_unsuper.sh
scripts/sweep_into/run_ppo.sh
scripts/sweep_into/20000/skip/run_PrefPPO.sh
scripts/sweep_into/20000/skip/run_PEBBLE.sh
scripts/sweep_into/20000/oracle/run_PrefPPO.sh
scripts/sweep_into/20000/oracle/run_PEBBLE.sh
scripts/sweep_into/20000/noisy/run_PrefPPO.sh
scripts/sweep_into/20000/noisy/run_PEBBLE.sh
scripts/sweep_into/20000/myopic/run_PrefPPO.sh
scripts/sweep_into/20000/myopic/run_PEBBLE.sh
scripts/sweep_into/20000/mistake/run_PrefPPO.sh
scripts/sweep_into/20000/mistake/run_PEBBLE.sh
scripts/sweep_into/20000/equal/run_PrefPPO.sh
scripts/sweep_into/20000/equal/run_PEBBLE.sh
scripts/sweep_into/10000/skip/run_PrefPPO.sh
scripts/sweep_into/10000/skip/run_PEBBLE.sh
scripts/sweep_into/10000/oracle/schedule/run_PEBBLE_2.sh
scripts/sweep_into/10000/oracle/schedule/run_PEBBLE_1.sh
scripts/sweep_into/10000/oracle/run_PrefPPO.sh
scripts/sweep_into/10000/oracle/run_PEBBLE.sh
scripts/sweep_into/10000/noisy/run_PrefPPO.sh
scripts/sweep_into/10000/noisy/run_PEBBLE.sh
scripts/sweep_into/10000/myopic/run_PrefPPO.sh
scripts/sweep_into/10000/myopic/run_PEBBLE.sh
scripts/sweep_into/10000/mistake/run_PrefPPO.sh
scripts/sweep_into/10000/mistake/run_PEBBLE.sh
scripts/sweep_into/10000/equal/run_PrefPPO.sh
scripts/sweep_into/10000/equal/run_PEBBLE.sh
scripts/quadruped_walk/run_sac_unsuper.sh
scripts/quadruped_walk/run_sac.sh
scripts/quadruped_walk/run_ppo_unsuper.sh
scripts/quadruped_walk/run_ppo.sh
scripts/quadruped_walk/2000/skip/run_PrefPPO.sh
scripts/quadruped_walk/2000/skip/run_PEBBLE.sh
scripts/quadruped_walk/2000/oracle/schedule/run_PEBBLE_2.sh
scripts/quadruped_walk/2000/oracle/schedule/run_PEBBLE_1.sh
scripts/quadruped_walk/2000/oracle/run_PrefPPO.sh
scripts/quadruped_walk/2000/oracle/run_PEBBLE.sh
scripts/quadruped_walk/2000/noisy/run_PrefPPO.sh
scripts/quadruped_walk/2000/noisy/run_PEBBLE.sh
scripts/quadruped_walk/2000/myopic/run_PrefPPO.sh
scripts/quadruped_walk/2000/myopic/run_PEBBLE.sh
scripts/quadruped_walk/2000/mistake/run_PrefPPO.sh
scripts/quadruped_walk/2000/mistake/run_PEBBLE.sh
scripts/quadruped_walk/2000/equal/run_PrefPPO.sh
scripts/quadruped_walk/2000/equal/run_PEBBLE.sh
scripts/quadruped_walk/1000/skip/run_PrefPPO.sh
scripts/quadruped_walk/1000/skip/run_PEBBLE.sh
scripts/quadruped_walk/1000/oracle/run_PrefPPO.sh
scripts/quadruped_walk/1000/oracle/run_PEBBLE.sh
scripts/quadruped_walk/1000/noisy/run_PrefPPO.sh
scripts/quadruped_walk/1000/noisy/run_PEBBLE.sh
scripts/quadruped_walk/1000/myopic/run_PrefPPO.sh
scripts/quadruped_walk/1000/myopic/run_PEBBLE.sh
scripts/quadruped_walk/1000/mistake/run_PrefPPO.sh
scripts/quadruped_walk/1000/mistake/run_PEBBLE.sh
scripts/quadruped_walk/1000/equal/run_PrefPPO.sh
scripts/quadruped_walk/1000/equal/run_PEBBLE.sh
scripts/button_press/run_sac_unsuper.sh
scripts/button_press/run_sac.sh
scripts/button_press/run_ppo_unsuper.sh
scripts/button_press/run_ppo.sh
scripts/button_press/20000/skip/run_PrefPPO.sh
scripts/button_press/20000/skip/run_PEBBLE.sh
scripts/button_press/20000/oracle/run_PrefPPO.sh
scripts/button_press/20000/oracle/run_PEBBLE.sh
scripts/button_press/20000/noisy/run_PrefPPO.sh
scripts/button_press/20000/noisy/run_PEBBLE.sh
scripts/button_press/20000/myopic/run_PrefPPO.sh
scripts/button_press/20000/myopic/run_PEBBLE.sh
scripts/button_press/20000/mistake/run_PrefPPO.sh
scripts/button_press/20000/mistake/run_PEBBLE.sh
scripts/button_press/20000/equal/run_PrefPPO.sh
scripts/button_press/20000/equal/run_PEBBLE.sh
scripts/button_press/10000/skip/run_PrefPPO.sh
scripts/button_press/10000/skip/run_PEBBLE.sh
scripts/button_press/10000/oracle/schedule/run_PEBBLE_2.sh
scripts/button_press/10000/oracle/schedule/run_PEBBLE_1.sh
scripts/button_press/10000/oracle/run_PrefPPO.sh
scripts/button_press/10000/oracle/run_PEBBLE.sh
scripts/button_press/10000/noisy/run_PrefPPO.sh
scripts/button_press/10000/noisy/run_PEBBLE.sh
scripts/button_press/10000/myopic/run_PrefPPO.sh
scripts/button_press/10000/myopic/run_PEBBLE.sh
scripts/button_press/10000/mistake/run_PrefPPO.sh
scripts/button_press/10000/mistake/run_PEBBLE.sh
scripts/button_press/10000/equal/run_PrefPPO.sh
